.App {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  font-size: 1.3em;
}

input {
  border: none;
  font-size: 1.05em;
  border-bottom: 2px solid black;
}
  
input:focus {
  outline: none;
}

hr {
  margin: 2em;
}